.App {
  font-family: "Quicksand", sans-serif;
}

.App-header {
  text-align: center;
  margin: 30px 0;
}

.dictionary-logo {
  max-width: 240px;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}
