.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  font-family: "Quicksand", sans-serif;
  margin: 0 auto;
}

.App-header {
  text-align: center;
  margin: 30px 0;
}

.dictionary-logo {
  max-width: 240px;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}
