.SearchEngine {
  text-align: center;
  color: #fff;
}

.SearchEngine input {
  width: 50%;
  padding: 6px 10px;
  border-radius: 10px;
  border: 2px solid #10827a;
  text-align: center;
  color: #10827a;
}

.SearchEngine section {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  margin: 20px 120px;
  background-color: #10827a;
}
